$primary: #009688;
$secondary: #FF5252;

$body-background: radial-gradient(circle at center, #fcfcfc 0%,#f0f0f0 100%);
$white: rgba(255, 255, 255, 0);

$text-strong:rgba(0,0,0,0.87);
$text: rgba(0,0,0,0.87);
$text-light: rgba(0,0,0,0.7);
$textDisabled: rgba(0,0,0,0.5);

@import "~bulma";
@import "app";