$primary-dark: #303F9F;
$primary: #3F51B5;
$secondary: #FFC107;

$info: $primary;
$success : #4CAF50;
$warning: $secondary;
$danger: #f44336;

$body-background: radial-gradient(circle at center, #fcfcfc 0%,#f0f0f0 100%);
// $white: rgba(255, 255, 255, 0);

$text-strong:rgba(0,0,0,0.87);
$text: rgba(0,0,0,0.87);
$text-light: rgba(0,0,0,0.7);
$textDisabled: rgba(0,0,0,0.5);

@import "~bulma";
@import "app";
@import "fonts";